<h2>{{ title }}</h2>
<p>Mis en ligne le {{ createdDate }}</p>
<img [src]="imageUrl" [alt]="title">
<p>{{ description }}</p>
<p>😊 {{ snaps }}</p>


<div class="face-snap-card">
    <h2>{{ title }}</h2>
    <p>Mis en ligne le {{ createdDate }}</p>
    <img [src]="imageUrl" [alt]="title">
    <p>{{ description }}</p>
    <p> 😊 {{ snaps }}</p>
  </div>
  <p>
    <button (click)="onSnap()">{{ buttontext }}</button>
  </p>
 

  <p><button (click)="onRemoveSnap()">Remove Snap!</button></p>
  <p><button (click)="onAddSnap()">Increase Snap!</button></p>